// Globally avialable SCSS
$black : hsl(0, 0%, 4%);
$black-bis : hsl(0, 0%, 7%);
$black-ter : hsl(0, 0%, 14%);
$grey-darker : hsl(0, 0%, 21%);
$grey-dark : hsl(0, 0%, 29%);
$grey : hsl(0, 0%, 48%);
$grey-light : hsl(0, 0%, 71%);
$grey-lighter : hsl(0, 0%, 86%);
$white-ter : hsl(0, 0%, 96%);
$white-bis : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);
$orange : hsl(14, 100%, 53%);
$yellow : hsl(48, 100%, 67%);
$green : hsl(141, 71%, 48%);
$turquoise : hsl(171, 100%, 41%);
$blue : hsl(215, 100%, 47%);
$purple : hsl(271, 100%, 71%);
$red : hsl(0, 100%, 42%);

$primary : $blue;
$info : $blue;
$success : $green;
$warning : $yellow;
$danger : $red;
$light : $white-ter;
$dark : $grey-darker;

$debug: false;

// navbar height & offset
$stickyNavHeight: 0px;
#app, .navbar{
    background-color: black !important;
    color: wheat;
}

.title{
  font-weight: 400 !important;
  color: wheat !important
}

.subtitle {
  color: wheat !important;
  font-size: 0.9rem !important;
  margin-top: -1.4555rem !important;
}
.buttons{
  justify-content: center !important;
}
li{
    padding: 0;
    margin: 0;
} 
/* List */
ul {
    counter-reset: index;
    padding: 0;
    max-width: 600px;
    margin: auto !important;
  }
  
  /* List element */
  li {
    justify-content: center;
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0 !important;
    box-sizing: border-box;
  }
  
  li img{
    margin: 5px;
    width: 45px;
  }
  
  /* Element counter */
  li::before {
    content: "20-21 PM";
    font-size: 0.9rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    max-width: 60px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
      grid: true;
    }
    browsers: last 2 versions
  }
  